<div
  id="carouselExampleCaptions"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleCaptions"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <!-- <li data-target="#carouselExampleCaptions" data-slide-to="2"></li> -->
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img
        src="../../../assets/car(1).jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block" id="cc">
        <h3>Obten la mejor experiencia curinaria</h3>
        <p>
          Reserva tu mesa para garantizar tu experiencia y permitirnos ofrecerte lo que te mereces.
        </p>
      </div>
    </div>
    <div class="carousel-item" data-interval="3000">
      <img
        src="../../../assets/car(2).jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block" id="cc2">
        <h3>Reservaciones</h3>
        <p>Disfruta de nuestros eventos mas exclusivos al reservar tu mesa con nosotros.</p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
