h3 {
  font-size: 3em;
  color: #e9c028;
  font-weight: 200;
}
div {
  margin-top: 50px;
}
p {
  font-size: 0.9em;
  margin-top: 30px;
  margin-bottom: 30px;
}
.fw-300 {
  font-weight: 300;
}

.iconos-nosotros {
  display: flex;
}
.icono {
  flex-basis: calc(33.3% - 1rem);
  text-align: center;
}
.contenedor {
  max-width: 120rem; /** igual a 1200px**/
  margin: 0 auto 0 auto;
}
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.centrar-texto {
  text-align: center;
}
/* .imagen-contacto {
  background-image: url(../../../../assets/encuentra.jpg);
  background-position: center center;
  background-size: cover;
  height: 30rem;
  display: flex;
  align-items: center;
} */
.contenido-contacto {
  flex: 1;
  color: #ffffff;
  padding-right: 5%;
  padding-left: 5%;
}
.contenido-contacto p {
  font-size: 1.8rem;
}
.boton {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
  border: none;
}
.boton:hover {
  cursor: pointer;
}
.boton-amarillo {
  background-color: #024059;
}
