<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="jumbotron text-center">
      <h1>Sobre<span> Nosotros</span></h1>
      <p class="eslogan">SweetStore</p>
    </div>
  
    <!-- Container (About Section) -->
    <div id="about" class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h2>Sobre la compañia</h2>
          <br />
          <h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem libero
            itaque voluptatem a aliquam nulla laboriosam quisquam expedita alias
            cum eligendi fugiat ipsam quasi neque tenetur, at minus architecto
            tempora. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Dolor voluptas praesentium voluptates, odit cumque, illo deserunt
            laborum dolore mollitia quos necessitatibus tenetur iusto dignissimos
            est amet voluptatem ex natus quisquam?
          </h4>
          <br />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
            voluptatum, dolores consequatur rerum ipsam ipsum consequuntur totam
            maxime harum vero porro amet assumenda cupiditate sunt ex quod animi,
            sed perspiciatis.
          </p>
          <br />
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-signal logo"></span>
          <img class="responsive-img" src="../../../../assets/BigSquirrel.png" alt="" />
        </div>
      </div>
    </div>
  
    <div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
        <div class="col-sm-8">
          <h2>Nuestros Valores</h2>
          <br />
          <h4>
            <strong>MISION:</strong> Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Dolores sapiente error qui, aliquid necessitatibus
            perferendis dicta rem vero ab repellendus minus porro reiciendis
            asperiores cumque sequi sunt aperiam dignissimos soluta?
          </h4>
          <br />
          <p>
            <strong>VISION:</strong> Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Esse maxime, laboriosam, odio quas ullam ipsum
            voluptates, necessitatibus est et accusantium ad exercitationem.
            Doloremque praesentium facere dolores velit nobis temporibus
            veritatis.
          </p>
        </div>
      </div>
    </div>
  </body>