<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="jumbotron text-center">
      <h1>Contacto</h1>
      <p class="eslogan">SweetStore</p>
    </div>
      <div id="about" class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h2>Sucursales</h2>
          <br />
          <h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem libero
            itaque voluptatem a aliquam nulla laboriosam quisquam expedita alias
            cum eligendi fugiat ipsam quasi neque tenetur, at minus architecto
            tempora. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus praesentium aspernatur inventore officia possimus id ratione illo cupiditate repudiandae dolore assumenda, in at recusandae eos minus earum autem! Recusandae, fuga!
          </h4>
          <br />
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-signal logo"></span>
          <img class="responsive-img" src="../../../../assets/mapa.png" alt="" />
        </div>
      </div>
    </div>
  
    <div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
    
      </div>
    </div>
  </body>